[submodule "skills/matt"]
	path = skills/matt
	url = git@github.com:Akira-TL/matt-skills.git
[submodule "skills/akira"]
	path = skills/akira
	url = git@github.com:Akira-TL/skills.git
[submodule "skills/research"]
	path = skills/research
	url = git@github.com:Akira-TL/akira-research-skills.git
